<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="myModule" class="com.bit.sts05.service.MyModuleImpl"></bean>

	<bean id="userAfter" class="com.bit.sts05.utils.UserAfter"></bean>
	<bean id="userAround" class="com.bit.sts05.utils.UserAround"></bean>
		<!-- 
	<bean id="userBefore" class="com.bit.sts05.utils.UserBefore"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.bit.sts05.service.MyModule.*(..))" id="modulePointcut"/>
		<aop:aspect ref="userBefore">
			<aop:before method="beforeTargetMethod" pointcut-ref="modulePointcut" />
		</aop:aspect>
		<aop:aspect ref="userAfter">
			<aop:after method="afterTargetMethod" pointcut-ref="modulePointcut" />
			<aop:after-returning method="afterReturningTargetMethod"
			 					pointcut-ref="modulePointcut" 
			 					returning="result"/>
			<aop:after-throwing 
				method="afterThrowingTargetMethod"
				pointcut-ref="modulePointcut"
				throwing="exp"/>
		</aop:aspect>		
		<aop:aspect ref="userAround">
			<aop:around method="aroundTargetMethod" pointcut-ref="modulePointcut"/>
		</aop:aspect>		 
	</aop:config>
		 -->
	<context:component-scan base-package="com.bit.sts05.utils"/>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>



















