<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ex01</servlet-name>
  	<servlet-class>com.bit.controller.Step01</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex02</servlet-name>
  	<servlet-class>com.bit.controller.Step02</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex03</servlet-name>
  	<servlet-class>com.bit.controller.Step05</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex07</servlet-name>
  	<servlet-class>com.bit.controller.Step07</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex08</servlet-name>
  	<servlet-class>com.bit.controller.Step08</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ex11</servlet-name>
  	<servlet-class>com.bit.controller.Ex11</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ex11</servlet-name>
  	<url-pattern>/ex11.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex08</servlet-name>
  	<url-pattern>/ex08.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex07</servlet-name>
  	<url-pattern>/ex07.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex03</servlet-name>
  	<url-pattern>/ex03.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex02</servlet-name>
  	<url-pattern>/ex02.bit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ex01</servlet-name>
  	<url-pattern>/ex01.html</url-pattern>
  </servlet-mapping>
</web-app>