</div>
</div>
<div id="footer" class="row">
  <div class="col-md-offset-2 col-md-2">
    <img src="https://www.bitacademy.com/img/logo_footer.png"/>
  </div>
  <div class="col-md-8">
    <address>
      <strong>비트교육센터</strong><br>
      서울특별시 서초구 서초대로74길33 비트빌 3층 <br>
      <abbr title="Phone">tel:</abbr> 02-3486-7890 
    </address>
    
    <address>
      <strong>Copyright by bitacademy co.ltd. All rights reserved. </strong><br>
      <a href="mailto:#">webmaster@bitacademy.com</a>
    </address>
  </div>
</div>
</div>
