<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean 
	id="propertyPlaceholderConfigurer"
	class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
	p:location="classpath:/userInfo.properties"
	/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	p:driverClassName="com.mysql.cj.jdbc.Driver"
	p:url="${db.mysql.url}"
	p:username="${db.mysql.username}"
	p:password="${db.mysql.password}"
	p:minIdle="1" p:maxIdle="5" p:maxActive="3"
	/>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/mybatis-config.xml"/>
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory"/>
	</bean>
</beans>


















