<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dept">
  	<select id="selectAll" resultType="com.bit.sts07.domain.DeptVo">
  		select * from dept
  	</select>
  	<insert id="addOne" parameterType="com.bit.sts07.domain.DeptVo">
  		insert into dept values (#{deptno},#{dname},#{loc})
  	</insert>
  	<select id="selectOne" parameterType="int" resultType="com.bit.sts07.domain.DeptVo">
  		select * from dept where deptno=#{val}
  	</select>
  	<update id="updateOne" parameterType="com.bit.sts07.domain.DeptVo">
  		update dept set dname=#{dname}, loc=#{loc} where deptno=#{deptno}
  	</update>
  	<delete id="deleteOne" parameterType="int">
  		delete from dept where deptno=#{value}
  	</delete>
  </mapper>