body{
	margin: 0px;
}
nav{
	overflow: hidden;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}
nav>h1{
	float: left;
	margin-left: 10px;
}
nav>h1>a{
	display: inline-block;
	width: 205px;
	height: 40px;
	background-image: url("/web12/imgs/logo.jpg");
	text-indent: -9999px;
}
nav>ul{
	list-style: none;
	padding: 0px;
	margin-left:100px;
	float: left;
}
nav>ul>li{
	float: left;
	width: 100px;
	border-right: 5px solid gray;
}
nav>ul>li>a{
	display: block;
	height: 40px;
	color: gray;
	text-decoration: none;
	font-size: 20pt;
	text-align: center;
}
.row img{
	width: 100%;
}
#footer{
	margin-top: 100px;
	background-image: url("/web12/imgs/logo.jpg");
	background-repeat:no-repeat;
	height: 80px;
	text-indent: 250px;
}
.table{
	width: 80%;
	margin: 2px auto;
}
.table>div{
	margin: 2px auto;
	border: 1px solid darkgray;
	border-radius: 5px;
	height: 50px;
}
.table>div>a{
	display: block;
	height: 50px;
	color: gray;
	text-decoration: none;
}
.table>div>a>span{
	display: block;
	float: left;
	width: 100px;
	line-height: 50px;
}

.table>div>a>span:nth-child(2){
	width: 80%;
	font-size: 20pt;
}
.table>div>a>span:first-child{
	text-align: center;
}
.table>div>a>span:last-child{
	width: 50px;
	float: right;
}
.btn{
	width: 100%;
	height: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	color: gray;
	display: block;
	margin: 20px;
}
 .btn-primary{
 	color:white;
 	background-color: blue;
 }
 .btn-danger{
 	color:white;
 	background-color: red;
 }
 .form-control{
 	margin: 0px auto;
 	width: 80%;
 }
 .form-group{
 	margin-bottom: 50px;
 }
 .form-group>*{
 	display: block;
 	height: 50px;
 	width: 100%;
 }
 #popup{
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	background-color: rgba(0,0,0,0.5);
 	left: 0px;
 	top:0px;
 }
 #popup>div{
 	width: 400px;
 	height: 200px;
 	padding: 50px;
 	margin: 100px auto 0px auto;
 	background-color: white;
 	border-radius: 10px;
 }
 #popup>div>h2{
 	text-align: center;
 }
 #popup>div>form{}
 #popup>div>form>button{}